@import url(https://fonts.googleapis.com/css?family=Open+sans);
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  @import url(https://fonts.googleapis.com/css?family=Playfair+Display);

  @import url(https://fonts.googleapis.com/css2?family=Courgette&family=Merriweather:ital,wght@1,300&display=swap);

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .about-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .about-column-1 {
    float: right;
    margin-top: 61px;
    margin-right: 20px;
    width: 65%;
    height: 60vh;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    border: 2px solid white;
    text-align: center;
  }
  .about-column-1 h1, .about-column-1 h2{
    color: white;
    font-size: 27px;
    margin-top: 20px;
    font-family: 'Merriweather', serif;;
  }

  @media (max-width: 1295px){
    .about-column-1 {
      width: 60%;
      height: 50vh;
    }
    .about-column-1 h1, .about-column-1 h2{
      font-size: 22px;
    }
  }
  @media (max-width: 1212px){
    .about-column-1 h1, .about-column-1 h2{
      font-size: 21px;
    }
  }
  @media (max-width: 1192px){
    .about-column-1 h1, .about-column-1 h2{
      font-size: 20px;
    }
  }
  @media (max-width: 1015px){
    .about-column-1 h1, .about-column-1 h2{
      font-size: 19px;
    }
  }
  @media (max-width: 898px){
    .about-column-1 h1, .about-column-1 h2{
      font-size: 18px;
    }
  }
  @media (max-width: 823px){
    .about-column-1 h1, .about-column-1 h2{
      font-size: 17px;
    }
    .skill-list-item img {
      width: 75px;
      height: 75px
    }
    
  }
  @media (max-width: 739px){
    .about-column-1 h1, .about-column-1 h2{
      font-size: 16px;
    }
    .skills-list {
      width: 100%;
      vertical-align: middle;
    }    
  }
  @media (max-width: 690px){
    .about-column-1 {
      width: 55%;
      height: 50vh;
    }
    .about-column-1 h1, .about-column-1 h2{
      font-size: 14px;
    }
  }
  @media (max-width: 690px){
    .about-column-1 {
      width: 52%;
      height: 50vh;
    }
  }
    @media screen and (max-width: 600px) {
      .about-column {
        width: 100%;
      }
      .about-column-1{
        display: none;
      }
      .about-column-1 h1, .about-column-1 h2{
        font-size: 16px;
      }
      .experience-timeline__nav ul {
        padding: 7px !important
      }
      .skills-list{
        margin: 0;
        padding: 0;

      }
      .skills-list li{
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      .card-body ul li img{
        height: 150px;
        width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }


  .about-return {
      position: absolute;
      top: 35px;
      left: 50px;
      color:white;
      font-size: 30px;
  }
  .about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
  
  .about-container {
    padding: 0 16px;
  }
  
  .about-container::after, .about-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .about-title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .about-return-home {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .about-body{
      background: url(../../images/green-trees-on-mountain-4017166.jpg) no-repeat center center;
  }
  /*  */
  /*  */
  /*  */
  

  .about-snip1515 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
    line-height: 1.4em;
    font-size: 14px;
    box-shadow: none !important;
  }
  
  .about-snip1515 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .about-snip1515 .about-profile-image {
    display: inline-block;
    width: 80%;
    z-index: 1;
    position: relative;
    padding: 10px;
    border: 2px solid #e8b563;
  }
  
  .about-snip1515 .about-profile-image img {
    max-width: 100%;
    vertical-align: top;
  }
  
  .about-snip1515 figcaption {
    width: 100%;
    background-color: #F2F2F2;
    color: #555;
    padding: 125px 25px 25px;
    margin-top: -100px;
    display: inline-block;
  }
  
  .about-snip1515 h3,
  .about-snip1515 h4,
  .about-snip1515 p {
    margin: 0 0 5px;
  }
  
  .about-snip1515 h3 {
    font-weight: 600;
    font-size: 1.3em;
    font-family: 'Playfair Display', Arial, sans-serif;
  }
  
  .about-snip1515 h4 {
    color: #8c8c8c;
    font-weight: 400;
    letter-spacing: 2px;
  }
  
  .about-snip1515 p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  
  .about-snip1515 .icons {
    text-align: center;
    width: 100%;
  }
  
  .about-snip1515 i {
    padding: 10px 2px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #e8b563;
    opacity: 0.75;
  }
  
  .about-snip1515 i:hover {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
 

/*  */
/*  */
/* Portfolio */
/*  */
/*  */
/* Center the book */
.panel__image.panel__image--book {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
}

.article__content a:not(.btn):not(.toolbar-item) {
color: #006fc6;
}

.product-panel--book .panel__image--book img {
width: 100% !important;
}

.books__book__img {
width: 100%;
max-width: 20px;
will-change: transform;
transform-origin: 0 100%;
transform: rotate(-10deg);
transition: transform 0.3s ease-out;
}

.books__book__img:hover {
  transform: rotate(0);
}

.author__image-wrapper::before,
.books__book__image::before {
  display: block;
  content: "";
  height: 20%;
  width: 45%;
  position: absolute;
  background-image: url(https://i.imgur.com/5udcDlp.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 84%;
  left: 35%;
  right: 0;
  transition: all 0.2s ease-out;
  transform-origin: 30% 50%;
  pointer-events: none;
}

.books__book__image:hover {
  position: relative;
}

/*  */
/*  */
/* Portfolio */
/*  */
/*  */
/*  */

/*  */
/*  */
/* Skills */
/*  */
/*  */



.skills-container {
  padding: 0 16px;
  height: 100%;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.skills-container::after, .skills-row::after {
  content: "";
  clear: both;
  display: table;
}

.skills-card{
  margin-top: 30px;
}

.skills-card-title {
  text-decoration: underline;
}
.skills-container li {
  display: inline !important;
  list-style-type: none;
  margin-left: 50px;
}
.skills-list li img {
  height: 150px;
  width: auto; 
}

.div-contact-resume {
  background-color: gainsboro
}

.top-contact-div {
  /* vertical-align: top; */
  columns: 2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.bitemoji {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.contact-button-list {
  width: 40%;
  /* padding-top: 25px; */
  padding-top: 75px;
  margin: 0;
}
.contact-button-item {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  }

.contact-button-item i {
  width: 400px;
  cursor: pointer;
}

.contact-button{
  background: white;
  border-radius: 50%;
  border: none;
}

.contact-me {
  top: 10px;
  left: 325px;
  position: absolute;
  text-decoration: underline;
}

/*  */
/*  */
/* Resume */
/*  */
/*  */

.swiper-container {
  width: 100%;
  height: 100%;

}
.swiper-slide {
  margin-top: 45px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80% !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide:nth-child(2n) {
  width: 60%;
}
.swiper-slide:nth-child(3n) {
  width: 40%;
}

/*  */
/*  */

form { margin:50px auto;}

.contact-form {
    /* vertical-align: bottom; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
}

.feedback-input {
color:white;
font-family: Helvetica, Arial, sans-serif;
font-weight:500;
font-size: 18px;
border-radius: 5px;
line-height: 22px;
background-color: transparent;
border:2px solid #CC6666;
transition: all 0.3s;
padding: 13px;
margin-bottom: 15px;
width:100%;
box-sizing: border-box;
outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
height: 150px;
line-height: 150%;
resize:vertical;
}

[type="submit"] {
font-family: 'Montserrat', Arial, Helvetica, sans-serif;
width: 100%;
background:#CC6666;
border-radius:5px;
border:0;
cursor:pointer;
color:white;
font-size:24px;
padding-top:10px;
padding-bottom:10px;
transition: all 0.3s;
margin-top:-4px;
font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.wrap {
width: 1000px;
height: 700px;
margin: auto;
position: relative;
overflow: hidden;
border: 10px solid #fff;
background-color: #96DCF5;
}

.education-div {
margin-top: 40px;
padding-top: 15px;
border-top: 2px black solid;
text-align: center;
}
.education-card-body {
width: 110% !important;
background-color: white;
margin-top: 600px;
margin-left: -10px;
z-index: 1000
}
.experience-list {
width: 100%;
margin: 0;
padding: 0;
}
.experience-list-items {
list-style: none;
}
.education-card-body h2 {
font-size: 20px;
}
.cloud-bg {
position: absolute;
top: 40%;
bottom: 0;
left: 0;
right: 0;
background-color: #E4EFF3;
}
.cloud-bg::before {
content: '';
position: absolute;
height: 4em;
width: 4em;
background-color: #E4EFF3;
bottom: 110%;
left: 250px;
border-radius: 50%;
box-shadow: -100px 50px 0 4em #E4EFF3, -250px 100px 0 2em #E4EFF3, 75px 100px 0 5em #E4EFF3, 250px 25px 0 4em #E4EFF3, 370px 25px 0 0 #E4EFF3, 400px 125px 0 5em #E4EFF3, 500px 50px 0 2em #E4EFF3, 590px 75px 0 0 #E4EFF3, 690px 75px 0 3em #E4EFF3;
}
.peak {
position: absolute;
right: 0;
top: 0;
transform: translate(50%);
}
.education-shadow {
position: absolute;
right: 0;
top: 0;
transform: translate(50%);
opacity: 0.7;
width: 676px;
height: 540px;
}
.mountain {
position: absolute;
bottom: 0;
left: -90px;
border-width: 38em 30em;
border-style: solid;
border-color: transparent transparent #93A4B4 transparent;
}
.mountain-small {
position: absolute;
bottom: 0;
left: 30%;
border-width: 33em 26em;
border-style: solid;
border-color: transparent transparent #657084 transparent;
}
.mountain-small::after {
content: '';
position: absolute;
left: 100%;
top: 100%;
border-width: 33em 26em;
border-style: solid;
border-color: transparent transparent #474f5d #474f5d;
opacity: 0.5;
}
.cloud {
-webkit-animation: move-cloud 20s linear infinite;
animation: move-cloud 20s linear infinite;
font-size: 1.25em;
position: absolute;
height: 1em;
border-radius: 1em;
}
.cloud-list {
margin: 0;
padding: 0;
list-style: none;
}
.cloud-list li:nth-child(1) {
top: 55%;
left: 25%;
z-index: 1;
}
.cloud-list li:nth-child(2) {
top: 47%;
left: 43%;
z-index: 1;
}
.cloud-list li:nth-child(3) {
top: 50%;
left: 70%;
font-size: 0.75em;
}
.cloud-list li:nth-child(4) {
top: 40%;
left: 55%;
font-size: 0.75em;
}
.cloud-big {
width: 12.25em;
}
.cloud-big::before {
content: '';
position: absolute;
bottom: 40%;
right: 20%;
height: 1.25em;
width: 1.25em;
border-radius: 50%;
background-color: inherit;
}
.cloud-small {
width: 5em;
}
.cloud-small::before {
content: '';
position: absolute;
bottom: 0;
left: 15%;
height: 2.25em;
width: 2.25em;
border-radius: 50%;
background-color: inherit;
}
.cloud-dark {
background-color: #BFD5E0;
}
.cloud-dark.cloud-big {
color: #BFD5E0;
}
.cloud-dark.cloud-big::before {
box-shadow: -1.5em -0.2em 0 0.5em currentColor, -6em -0.5em 0 0.75em currentColor, -8.75em -1.15em 0 1.5em currentColor;
}
.cloud-light {
background-color: #E4EFF3;
}
.cloud-light.cloud-big {
color: #E4EFF3;
}
.cloud-light.cloud-big::before {
box-shadow: -1.5em -0.2em 0 0.5em currentColor, -6em -0.5em 0 0.75em currentColor, -8.75em -1.15em 0 1.5em currentColor;
}
.hill {
position: absolute;
bottom: 0;
border-width: 10em 20em;
border-style: solid;
}
.hill-right {
right: 0;
border-color: transparent #38845E #38845E transparent;
}
.hill-left {
z-index: 2;
left: 0;
border-color: transparent transparent #044946 #044946;
}
.tree {
z-index: 3;
position: absolute;
border-width: 2.5em 1.5em;
border-style: solid;
}
.tree-list {
list-style: none;
padding: 0;
margin: 0;
}
.tree-list li:nth-child(1) {
top: 56%;
left: 25%;
}
.tree-list li:nth-child(2) {
font-size: 0.75em;
top: 65%;
left: 32%;
}
.tree-list li:nth-child(3) {
font-size: 1.25em;
top: 58%;
left: 73%;
}
.tree-list li:nth-child(4) {
font-size: 1.25em;
top: 50%;
left: 88%;
}
.tree-list li:nth-child(5) {
font-size: 2em;
top: 40%;
left: 10%;
}
.tree-list li:nth-child(6) {
font-size: 0.75em;
top: 72%;
left: 55%;
}
.tree-list li:nth-child(7) {
top: 62%;
left: 61%;
}
.tree::before,
.tree::after {
content: '';
position: absolute;
top: 0;
left: 0;
border-style: solid;
}
.tree::before {
border-width: 3em 2em;
transform: translate(-50%, -25%);
}
.tree::after {
border-width: 3.5em 2.5em;
transform: translate(-50%, -5%);
}
.tree-light {
color: #38845E;
border-color: transparent transparent currentColor transparent;
}
.tree-light::before,
.tree-light::after {
border-color: transparent transparent currentColor transparent;
}
.tree-dark {
color: #044946;
border-color: transparent transparent currentColor transparent;
}
.tree-dark::before,
.tree-dark::after {
border-color: transparent transparent currentColor transparent;
}
@-webkit-keyframes move-cloud {
0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
100% {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
}
@keyframes move-cloud {
0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
100% {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
}

.div-bottom {
border-bottom: 2px black solid;
margin-bottom: 30px;
padding-top: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");
html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

/* body {
font-family: 'Exo 2', sans-serif;
line-height: 1.5;
} */

.wrapper {
margin: 0 auto;
padding: 0 16.66% 50px;
width: 100%;
}

article {
position: relative;
max-width: 980px;
margin: 0 auto;
}

.timeline__nav {
position: fixed;
z-index: 99;
top: 0;
-webkit-transition: top .3s ease-out;
transition: top .3s ease-out;
}
.experience-timeline__nav ul {
list-style: none;
list-style-position: inside;
margin: 15px 0;
}
.experience-timeline__nav ul li {
margin: 15px 0;
padding-left: 0;
list-style-type: none;
color: #bfc1c3;
border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
cursor: pointer;
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
}
.experience-timeline__nav ul li.active {
font-weight: bold;
color: #f94125;
border-bottom: 1px dotted transparent;
-webkit-transform: scale(1.2);
      transform: scale(1.2);
}
.experience-timeline__nav ul li:hover {
color: #000;
}

/*  */
/*  */
/* Poloroid Photos */
/*  */
/*  */

.experience-wrapper {
width: 100%;
padding: 0 2rem;
text-align: center;
}
.experience-polaroid {
background: #fff;
padding: 1rem;
box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);

}
.experience-polaroid > img{
max-width: 100%;
height: auto;
}
.experience-caption {
font-size: 1.8rem;
text-align: center;
line-height: 2em;
}
.experience-item {
width: 30%;
display: inline-block;
margin-top: 2rem;
filter: grayscale(100%);
}
.experience-item .experience-polaroid:before {
content: '';
position: absolute;
z-index: -1;
transition: all 0.35s;
}
.experience-item:nth-of-type(4n+1) {
transform: scale(0.8, 0.8) rotate(5deg);
transition: all 0.35s;
}
.experience-item:nth-of-type(4n+1) .experience-polaroid:before {
transform: rotate(6deg);
height: 20%;
width: 47%;
bottom: 30px;
right: 12px;
box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.experience-item:nth-of-type(4n+2) {
transform: scale(0.8, 0.8) rotate(-5deg);
transition: all 0.35s;
}
.experience-item:nth-of-type(4n+2) .experience-polaroid:before {
transform: rotate(-6deg);
height: 20%;
width: 47%;
bottom: 30px;
left: 12px;
box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.experience-item:nth-of-type(4n+4) {
transform: scale(0.8, 0.8) rotate(3deg);
transition: all 0.35s;
}
.experience-item:nth-of-type(4n+4) .experience-polaroid:before {
transform: rotate(4deg);
height: 20%;
width: 47%;
bottom: 30px;
right: 12px;
box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.experience-item:nth-of-type(4n+3) {
transform: scale(0.8, 0.8) rotate(-3deg);
transition: all 0.35s;
}
.experience-item:nth-of-type(4n+3) .experience-polaroid:before {
transform: rotate(-4deg);
height: 20%;
width: 47%;
bottom: 30px;
left: 12px;
box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.experience-item:hover {
filter: none;
transform: scale(1, 1) rotate(0deg) !important;
transition: all 0.35s;
}
.experience-item:hover .experience-polaroid:before {
content: '';
position: absolute;
z-index: -1;
transform: rotate(0deg);
height: 90%;
width: 90%;
bottom: 0%;
right: 5%;
box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
transition: all 0.35s;
}

.footer {

/* position: fixed; */
left: 0;
bottom: 0;
width: 100%;
height: 100px;
background-color: gainsboro;
color: white;
text-align: center;
}


